


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active" >
      <img class="d-block w-100" src="..." alt="first_cocktal">
      <h5><%= @cocktails.first.name %></h5>
      <p>first slide </p>
    </div>

      <% @cocktails.drop(1).each do |cocktail| %>
        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="cocktail_photo">
          <h5><%= cocktail.name %></h5>
          <p>description</p>
          <%= link_to "See recipe", cocktail_path(cocktail.id) %>
        </div>
       <% end %>
  </div>
</div>

</div>
